
## 基本方針
- 機能別に共通関数を作ってください
- 関数は単一機能のみを提供するものとします
- TypeScriptの型機能を活用してください
- コーディング時は日本語、英語を併記してください

## Nuxt
- `import`する時は`~`エイリアスを使わずに相対パスを使用してください

## テスト
- テスト用のファイルは、テスト対象のファイルと同じディレクトリに配置する
- タスクを終了する前に作成したテストファイルのテストを実行して合格していることを確認してください

